[submodule "Feijoa/vendor/spdlog"]
	path = Feijoa/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Feijoa/vendor/GLFW"]
	path = Feijoa/vendor/GLFW
	url = https://github.com/Htrap19/glfw
	branch = master
[submodule "Feijoa/vendor/imgui"]
	path = Feijoa/vendor/imgui
	url = https://github.com/Htrap19/imgui
	branch = docking
[submodule "Feijoa/vendor/glm"]
	path = Feijoa/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "Feijoa/vendor/yaml-cpp"]
	path = Feijoa/vendor/yaml-cpp
	url = https://github.com/Htrap19/yaml-cpp
	branch = master
